<div class="container">
  <h1> My Portfolios:</h1>
  <a class="btn btn-primary" href="/portfolios/new" role="button">Create a NEW Portfolio</a>
  <br>
  <ul>
    <% current_user.created_portfolios.most_recent.each do |portf| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a><%= link_to portf.name, portfolio_path(portf), class: 'btn btn-primary' %></a>
          <h5 class="card-title"><%= portf.description %></h5>
          <p class="card-text">Inicial Balance: $<%= portf.initial_balance %></p>
          <p class="card-text">Created by: <%= current_user.name %></p>
        </div>
      </div>
    <% end %>
  </ul>
</div>

