<h1>Welcome,  <%= current_user.name %>!</h1>
<a class="btn btn-primary" href="/portfolios/new" role="button">Create a NEW Portfolio and start trading NOW!</a>
<%= render partial: 'crytocurrencies/cryptocurrencies_20' %>
